*{
    margin: 0;
    padding: 0;
}
#location-switch {
    display: flex;
    height: 70px;
    left: 0;
    right: 0;
    background: #444;
    z-index: 10000;
    width: 100%;
    min-width: 1024px;
    color: #fff;
}
.loc-content{
    padding-left: 17px;
    padding-right: 17px;
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    margin: 0 auto;
    list-style: none;
    max-width: 980px;
}
.loc-text1{
    font-size: 12px;
    line-height: 1.5;
    font-weight: 400;
    letter-spacing: 0em;
    padding-right: 2%;
    flex: 1;
    display: inline-block;
    font-family: Arial, Helvetica, sans-serif;
}
.loc-action{
    display: inline-flex;
    flex: 1;
}
.ac-ls-dropdown{
    background-color: #444;
    position: relative;
    flex: 1;
}
.loc-action:first-child{
    margin-left: 0;
}
.ac-ls-dropdown-select{
    border: 1px solid #707070;
    border-radius: 4px;
    padding: 0 15px;
    height: 35px;
    line-height: 35px;
    /* width: 100%; */
}
.ac-ls-continue{
    height: 26px;
    text-decoration: none;
}
#location-switch .ac-ls-actions-item{
    display: inline-block;
    margin-left: 17px;
}
.ac-ls-button{
    background-color: #0070c9;
    font-weight: 400;
    line-height: 1.5;
    font-size: 17px;
    border-color: #07c;
    color: #fff;
    min-width: 30px;
    padding: 3px 15px 4px 15px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
#location-switch .ac-ls-close {
    font-size: 20px;
    line-height: 20px;
    color: #999;
    display: block;
    width: auto;
    height: 20px;
    /* margin-top: auto; */
    margin-bottom: auto;
}
/* #location-switch .ac-ls-close::before, #location-switch .ac-ls-close::after {
    content: "ïž";
} */

#location-switch .ac-ls-close::before, #location-switch .ac-ls-close::after {
    text-decoration: none;
}
#location-switch button {
    background: none;
    border: 0;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    color: inherit;
    cursor: pointer;
    font: inherit;
    line-height: inherit;
    overflow: visible;
    vertical-align: inherit;
}
#ac-globalNav {
    background: rgba(0,0,0,0.8);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: absolute;
    top: 70px;
    width: 100%;
}
#ac-globalNav .ac-gn-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    position: relative;
    z-index: 2;
}
#ac-globalNav .ac-gn-list {
    cursor: default;
    margin: 0 -10px;
    width: auto;
    height: 44px;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
#ac-globalNav .ac-gn-item {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: inline-block;
    position: relative;
    height: 44px;
    z-index: 1;
    vertical-align: top;
}
#ac-globalNav ul {
    list-style: none;
}
#ac-globalNav .ac-gn-link {
    font-size: 14px;
    line-height: 3.14286;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    color: #f5f5f7;
    position: relative;
    z-index: 1;
    display: inline-block;
    padding: 0 10px;
    height: 44px;
    opacity: .8;
    background: no-repeat;
    text-decoration: none;
    white-space: nowrap;
    -webkit-transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    transition: opacity 0.3s cubic-bezier(0.25, 0.1, 0.25, 1);
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    outline-offset: -7px;
}
#ac-globalNav .ac-gn-link-text {
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
    top: 50%;
}
.shop-ribbon-copy{
    font-size: 14px;
    display: inline-block;
    padding: 12px 0;
    background-color: #f5f5f7;
    text-align: center;
    width: 100%;
}
.main {
    position: relative;
    max-width: 2560px;
    margin: 0 auto;
    padding-top: 72px;
}
a, .link {
    color: #06c;
    letter-spacing: inherit;
}
body {
    font-size: 17px; 
    line-height: 1.47059;
    font-weight: 400;
     letter-spacing: -.022em;
     font-family: "SF Pro Text","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif; 
    background-color: #fff; 
     color: #1d1d1f; 
    font-style: normal;
}
.section-content{
    margin-top: 45px;
}
.ac-gn-search {
    width: 18px;
}
.main .module-content {
    width: 100%;
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.module-content {
    color: #1d1d1f;
    background-color: #fbfbfd;
    /* padding-top: calc(44px + 70px + 0px);; */
    /* height: 580px + calc(44px + 70px + 0px); */
}
.unit-wrapper {
    /* top: calc(44px + 70px + 0px) * -1; */
    /* height: 580px + calc(44px + 70px + 0px); */
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    overflow: hidden;
    background: #fbfbfd;
}
.unit-wrapper a.unit-link {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.unit-copy-wrapper {
    text-align: center;
    padding-top: 47px;
}
.unit-wrapper .unit-copy-wrapper {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex-positive: 0;
    flex-grow: 0;
    z-index: 4;
    pointer-events: none;
    /* margin-top: calc(44px + 70px + 0px); */
}
.headline , .subhead {
    color: #1d1d1f;
}
.headline , .subhead, .cta {
    text-align: center;
    display: block;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    -ms-flex-negative: 1;
    flex-shrink: 1;
}
.main .unit-copy-wrapper>*.headline {
    font-size: 56px;
    line-height: 1.07143;
    font-weight: 600;
    letter-spacing: -.005em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
}
.main .unit-copy-wrapper>*.subhead {
    font-size: 28px;
    line-height: 1.10722;
    font-weight: 400;
    letter-spacing: .004em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: 6px;
}
.unit-copy-wrapper .avail-wrapper .avail-msg {
    color: #86868b;
}
.unit-copy-wrapper .cta-links {
    margin-top: 10px;
}
.main .unit-copy-wrapper>*.cta-links {
    position: relative;
    z-index: 4;
    text-decoration: none;
}
.main .unit-copy-wrapper>*.cta, .main .unit-copy-wrapper>*.cta-links {
    display: inline-block;
    font-size: 21px;
    line-height: 1.381;
    font-weight: 400;
    letter-spacing: .011em;
    font-family: "SF Pro Display","SF Pro Icons","Helvetica Neue","Helvetica","Arial",sans-serif;
    margin-top: .65em;
}
a:link, a:visited, .link:link, .link:visited {
    text-decoration: none;
}
.unit-wrapper a:not(.unit-link) {
    z-index: 4;
    text-decoration: none;
}
.main .unit-copy-wrapper>*.cta-links a:not(:only-child):not(:first-child) {
    margin-left: 35px;
}
.unit-wrapper .unit-image-wrapper {
    z-index: 1;
    overflow: visible;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}
.main .unit-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.main .unit-image-wrapper .unit-image.unit-image-iPhone-13-pro-hero-iPhone-13pro {
    width: 3010px;
    height: 624px;
    background-size: 3010px 624px;
    background-repeat: no-repeat;
    background-image: url(assets/img/iPhone1.jpg);
    margin-bottom: 30px;
}
.main .unit-image-wrapper .unit-image.unit-image-iphone-13-hero-iphone-13{
    width: 3010px;
    height: 624px;
    background-size: 3010px 624px;
    background-repeat: no-repeat;
    background-image: url(assets/img/dark_theme_iphone.jpg);
}
.main .unit-image-wrapper .unit-image.unit-image-watch-series-7-hero-lte{
    width: 3010px;
    height: 624px;
    background-size: 3010px 624px;
    background-repeat: no-repeat;
    background-image: url(assets/img/watch.jpg);
}
.main .unit-image-wrapper .unit-image.unit-image-back-to-school-2021-promo-bts-last-chance{
    width: 3010px;
    height: 624px;
    background-size: 3010px 624px;
    background-repeat: no-repeat;
    background-image: url(assets/img/acktoschool.jpg);
}
.unit-image {
    z-index: 1;
    position: absolute;
    border: 0;
    margin: 0;
    padding: 0;
    left: calc(50% + 0px);
    right: auto;
    bottom: 0px;
    top: auto;
    -webkit-transform: translatex(-50%);
    transform: translatex(-50%);
}
figure {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
}
.unit-wrapper {
    height: 580px;
}
.logo-image-watch-series-7-watch-logo-lte {
    width: 188px;
    height: 72px;
    background-size: 188px 72px;
    background-repeat: no-repeat;
    background-image: url(assets/img/logo_watch.png);
    background-position: center;
}
.logo-image {
    margin: 0 auto;
}
.unit-copy-wrapper .avail-wrapper {
    margin-top: 13px;
}
.distributed-flex{
    display: flex;
    flex-direction: row;
    flex: 1;
}
.main .violator-frameless {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    white-space: nowrap;
    display: block;
    color: #bf4800;
}
.collection-module {
    display: flex;
}
.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
#ac-globalNav .ac-gn-link-search {
    background-size: 18px 88px;
    background-repeat: no-repeat;
    background-image: url(assets/img/globalnav_search_image__fca9mfoh8a2q_large.svg);
    background-position: 10px 0;
    width: 18px;
}
#ac-globalNav .ac-gn-link-bag {
    background-size: 17px 44px;
    background-repeat: no-repeat;
    background-image: url(assets/img/globalnav_bag_image__bmix8075eg4i_large.svg);
    background-position: 10px 0;
    width: 17px;
}
.left-content {
    margin-left: 10px;
}
#ac-globalfooter {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    background-color: #f5f5f7;
    color: #1d1d1f;
    min-width: 1024px;
    overflow: hidden;
    position: relative;
    z-index: 1;
}
#ac-globalfooter .ac-gf-content {
    margin: 0 auto;
    max-width: 980px;
    padding: 0 22px;
    padding-left: calc(22px + constant(safe-area-inset-left));
    padding-right: calc(22px + constant(safe-area-inset-right));
}
#ac-globalfooter .ac-gf-label {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
    clip-path: inset(0px 0px 99.9% 99.9%);
    overflow: hidden;
    height: 1px;
    width: 1px;
    padding: 0;
    border: 0;
}
#ac-globalfooter .ac-gf-sosumi {
    border-bottom: 1px solid #d2d2d7;
    color: #86868b;
    padding: 17px 0 11px;
}
#ac-globalfooter .ac-gf-sosumi ul {
    list-style: none;
    margin: 0;
}
#ac-globalfooter .ac-gf-sosumi p, #ac-globalfooter .ac-gf-sosumi li {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
}
#ac-globalfooter *, #ac-globalfooter *:before, #ac-globalfooter *:after {
    font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}
#ac-globalfooter, #ac-globalfooter:before, #ac-globalfooter:after, #ac-globalfooter *, #ac-globalfooter *:before, #ac-globalfooter *:after {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    pointer-events: auto;
    letter-spacing: normal;
}
#ac-globalfooter a {
    color: #515154;
    text-decoration: none;
}
#ac-globalfooter .ac-gf-directory {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-top: 20px;
}
#ac-globalfooter .ac-gf-directory-column {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
}
#ac-globalfooter .ac-gf-directory-column-section-state {
    display: none;
}
#ac-globalfooter .ac-gf-directory-column-section-title {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 400;
    letter-spacing: -.01em;
    font-family: "SF Pro Text","Myriad Set Pro","SF Pro Icons","Apple Legacy Chevron","Helvetica Neue","Helvetica","Arial",sans-serif;
    font-weight: 600;
    margin-right: 20px;
    margin-bottom: .8em;
}
#ac-globalfooter .ac-gf-directory-column-section-list {
    margin-right: 20px;
    list-style: none;
    padding: 0;
}
#ac-globalfooter .ac-gf-directory-column-section-item {
    display: block;
    pointer-events: auto;
    margin-bottom: .8em;
}
#ac-globalfooter a {
    color: #515154;
    text-decoration: none;
}
.main .color-specific {
    color: #fec2eb;
}
.main .color-white {
    color: white;
}